body {
  background-color: black;
  box-sizing: border-box;
  margin: 0;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-family: "Playfair Display", serif;
  margin-left: 20px;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin-left: 20px;
  font-family: "Playfair Display", serif;
}

p {
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  margin-left: 20px;
}

.hero-container {
  position: relative;
  text-align: center;
}

.hero-image {
  width: 100%;
  height: auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*Typografi*/
.playfair-display {
  font-family: "Playfair Display", serif;

  font-weight: 400;
  font-style: normal;
}

.overskrift {
  position: absolute;
  top: 55%;
  left: 5%;
  margin: 5px;
}
.cta {
  display: flex; /* for at ændre på placeringen af knapperne */
  margin-top: 10px;
  padding: 10px;
  left: 50%;
}

.cv_cta {
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 3em;
  font-family: "Old Standard TT", serif;
  padding: 1em 2em;
  width: auto;
  margin: 33px;
  left: 50%;
  top: 50%;
}

.cv_cta:hover {
  color: #279af1;
}

.portfolio_cta {
  display: grid;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 3em;
  font-family: "Old Standard TT", serif;
  padding: 1em 2em;
  width: auto;
  margin: 33px;
}

.portfolio_cta:hover {
  color: #279af1;
}

.portfolio_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio_buttons:hover {
  color: #279af1;
}

.cta_portfolio {
  position: relative;
  overflow: hidden;
  margin: 100px;
  text-decoration: none;
  border-radius: 3em;
  border: 2px solid #ffffff;
}

.cta-button_portfolio {
  margin: 33px;
}

.cta_portfolio2 {
  position: relative;
  overflow: hidden;
  margin: 100px;
  text-decoration: none;
  border-radius: 3em;
  border: 2px solid #ffffff;
}

.cta-button_portfolio2 {
  margin: 33px;
}
.cta-button_portfolio2:hover {
  color: #279af1;
}

.cta_portfolio3 {
  position: relative;
  overflow: hidden;
  margin: 100px;
  text-decoration: none;
  border-radius: 3em;
  border: 2px solid #ffffff;
}

.cta-button_portfolio3 {
  margin: 33px;
}
.cta-button_portfolio3:hover {
  color: #279af1;
}

.cta_portfolio4 {
  position: relative;
  overflow: hidden;
  margin: 100px;
  border-radius: 3em;
  border: 2px solid #ffffff;
}

.cta-button_portfolio4 {
  margin: 33px;
}
.cta-button_portfolio4:hover {
  color: #279af1;
}
.cta_portfolio img,
.cta_portfolio2 img,
.cta_portfolio3 img,
.cta_portfolio4 img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 1.3s;
}

.cta_portfolio img:hover,
.cta_portfolio2 img:hover,
.cta_portfolio3 img:hover,
.cta_portfolio4 img:hover {
  transform: scale(1.1);
}
.portfolio-tekst {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px;

  font-size: 24px;
}

.hero-container_cv {
  text-align: left;
}

.hero-image_cv {
  width: 100%;
  height: auto;
}

.cv_skrift {
  position: absolute;
  top: 5%;
  left: 0%;
  width: 741px;
  margin: 10px;
}

.linkedin_cta {
  display: grid;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 3em;
  display: inline-block;
  font-family: "Old Standard TT", serif;
  font-size: 1em;
  text-decoration: none;
  padding: 1em 2em;
  width: auto;
  margin: 33px;
}
.linkedin_cta:hover {
  color: #279af1;
}

.github_cta {
  color: #ffffff;
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 3em;
  font-family: "Old Standard TT", serif;
  text-decoration: none;
  padding: 1em 2em;
  margin: 33px;
}
.github_cta:hover {
  color: #279af1;
}
.hero-image_materiale {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 0; /* Sørg for, at billedet ligger bag containeren */
}

/*Materiale*/
.container-02 img {
  object-fit: cover;
  align-self: stretch;
}

.container_02 {
  position: absolute;
  top: 120px;

  z-index: 1;
  padding: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.h1_02 {
  display: flex;
  position: absolute;
  top: 30px;
  left: 35%;
  z-index: 1;
  text-align: center;
}

.materiale_02_knap {
  color: #ffffff;
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 3em;
  font-family: "Old Standard TT", serif;
  text-decoration: none;
  padding: 1em 2em;
  margin: 33px;
  left: 80%;
  top: 2%;
}

.materiale_02_knap:hover {
  color: #279af1;
}

.materiale_02_link {
  text-decoration: none;
  color: #279af1;
}
.materiale_02_link:hover {
  color: #ffffff;
}

.grid_1-2 {
  text-align: left;
}

/*03*/
.container-03 img {
  object-fit: cover;
}

.container_03 {
  position: absolute;
  top: 120px;

  z-index: 1;
  padding: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}
.materiale_03_knap {
  color: #ffffff;
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 3em;
  font-family: "Old Standard TT", serif;
  text-decoration: none;
  padding: 1em 2em;
  margin: 33px;
  left: 80%;
  top: 2%;
}

.materiale_03_knap:hover {
  color: #279af1;
}

.materiale_03_link {
  text-decoration: none;
  color: #279af1;
}
.materiale_03_link:hover {
  color: #ffffff;
}

.h1_03 {
  display: flex;
  position: absolute;
  top: 30px;
  left: 35%;
  z-index: 1;
  text-align: center;
}

/*04*/
.container-04 img {
  object-fit: cover;
}

.container_04 {
  position: absolute;
  top: 120px;

  z-index: 1;
  padding: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.materiale_04_knap {
  color: #ffffff;
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 3em;
  font-family: "Old Standard TT", serif;
  text-decoration: none;
  padding: 1em 2em;
  margin: 33px;
  left: 80%;
  top: 2%;
}

.materiale_04_knap:hover {
  color: #279af1;
}
.materiale_04_link {
  text-decoration: none;
  color: #279af1;
}
.materiale_04_link:hover {
  color: #ffffff;
}

.h1_04 {
  display: flex;
  position: absolute;
  top: 30px;
  left: 35%;
  z-index: 1;
  text-align: center;
}

.item2_04,
.item3_04,
.item4_04,
.item5_04,
.item6_04,
.item7_04 {
  width: 100%;
}

/*05*/
.container-05 img {
  object-fit: cover;
}

.container_05 {
  position: absolute;
  top: 120px;

  z-index: 1;
  padding: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.materiale_05_knap {
  color: #ffffff;
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 3em;
  font-family: "Old Standard TT", serif;
  text-decoration: none;
  padding: 1em 2em;
  margin: 33px;
  left: 80%;
  top: 2%;
}

.materiale_05_knap:hover {
  color: #279af1;
}
.materiale_05_knap2 {
  color: #ffffff;
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 3em;
  font-family: "Old Standard TT", serif;
  text-decoration: none;
  padding: 1em 2em;
  margin: 33px;
  left: 80%;
  top: 9%;
}
.materiale_05_knap2:hover {
  color: #279af1;
}

.materiale_05_link {
  text-decoration: none;
  color: #279af1;
}
.materiale_05_link:hover {
  color: #ffffff;
}

.h1_05 {
  display: flex;
  position: absolute;
  top: 30px;
  left: 35%;
  z-index: 1;
  text-align: center;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 32px;
    font-family: "Playfair Display", serif;
  }

  .h1_02 {
    font-size: 32px;
    font-family: "Playfair Display", serif;
    left: 20%;
  }

  .h1_03 {
    font-size: 32px;
    font-family: "Playfair Display", serif;
    left: 20%;
  }
  .h1_04 {
    font-size: 32px;
    font-family: "Playfair Display", serif;
    left: 20%;
  }
  .h1_05 {
    font-size: 32px;
    font-family: "Playfair Display", serif;
    left: 20%;
  }

  h2 {
    font-size: 24px;
  }
  p {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 10px;
  }

  .cta {
    font-size: 40%;
  }

  .cta_portfolio,
  .cta_portfolio2,
  .cta_portfolio3,
  .cta_portfolio4 {
    margin: 10px;
  }

  .hero-image {
    max-width: 100%;
    height: auto;
  }

  .portfolio-tekst {
    font-size: 80%;
  }

  .overskrift {
    top: 30%;
    left: -6%;
  }

  .cv_skrift {
    width: 351px;
    height: 214.4px;
  }

  .hero-image_materiale {
    width: 100%;
    height: auto;
  }
  .hero-image_cv {
    width: 100%;
    height: auto;
  }

  .materiale_02_knap {
    width: 10%;
    font-size: 40%;
    left: 75%;
    top: 8%;
  }
  .materiale_03_knap {
    width: 10%;
    font-size: 40%;
    left: 75%;
    top: 8%;
  }

  .materiale_04_knap {
    width: 10%;
    font-size: 40%;
    left: 75%;
    top: 8%;
  }
  .materiale_05_knap {
    width: 10%;
    font-size: 40%;
    left: 75%;
    top: 6%;
  }
  .materiale_05_knap2 {
    width: 10%;
    font-size: 40%;
    left: 75%;
    top: 11%;
  }

  .grid_1-1,
  .grid_1-2 {
    display: grid;
    margin: 10px 0;
  }

  .linkedin_cta {
    position: absolute;
    width: 5%;
    font-size: 40%;
    left: 10%;
    top: 55%;
  }

  .github_cta {
    position: absolute;
    width: 5%;
    font-size: 40%;
    left: 40%;
    top: 55%;
  }
}
